<div class="jumbotron">
        <h1 class="text-center " id="serv" data-aos="fade-top">SERVICIOS</h1>
<hr style="height:3px;margin:auto; width:100px; background:blue;"  data-aos="top"  data-aos-duration="300">
<div class="container-fluid">
<div class="row">
            <div class="col-lg-4 servicio-item service" data-aos="fade-left"  data-aos-duration="200">
                <a href="#cardMaquinado"><img  class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"  src="/img/montaje.svg"></a>
		<h5 class="text-center">Maquinado</h5>
            </div>
            <div class="col-lg-4 servicio-item" data-aos="fade-left"  data-aos-duration="800">
                <a href="#cardEletronica"><img class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"   src="/img/circuito.svg"></a>
		<h5 class="text-center">Electronica</h5>
            </div>
            <div class="col-lg-4 servicio-item" data-aos="fade-left"  data-aos-duration="1500">
		
              <a href="#cardSenaletica" >
		<img class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em; border-radius:3em;"  src="/img/extintor.svg"></a>
		<h5 class="text-center">Señaletica</h5>            
	</div>
		</div>
	    <div class="row">
            <div class="col-lg-4 servicio-item" data-aos="fade-left" data-aos-duration="200">
                <a href="#cardSoldadura"><img class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em; border-radius:3em;"  src="/img/soldadura.svg"></a>
		<h5 class="text-center">Soldadura</h5>
            </div>
            <div class="col-lg-4 servicio-item" data-aos="fade-left"  data-aos-duration="800">
                <a href="#cardIndustria"><img class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em; border-radius:3em;"  src="/img/manufactura.svg"></a>
		<h5 class="text-center">Industria</h5>
            </div>
            <div class="col-lg-4 servicio-item" data-aos="fade-left"  data-aos-duration="1500">
                <a href="#cardAutomatizacion"><img class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em; border-radius:3em;"  src="/img/automatizacion.svg"></a>
		<h5 class="text-center">Automatizacion</h5>
            </div>
		</div>
		<div class="row">
            <div class="col-lg-12 servicio-item" data-aos="fade-left"  data-aos-duration="200">
                <a href="#cardEletromecanica"><img class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em; border-radius:3em;"  src="/img/engranajes.svg"></a>
		<h5 class="text-center">Electromecanica</h5>
            </div>
        </div>
    </div>
        </div>
</div>
</div>
